label, h4,h5,h2{
    color: #fff;
}


body{
    background-color: #63dc3e;
}

.container {
    background-color: #731AB7;
    padding: 50px;
    
}

.bebidas {
    margin-top: 30px;
}

h2,h5{
    text-align: center;
}

h2{
padding-bottom: 50px;
}

p{
    font-size: 18px;
    color: #fff;
}

button{
 display: flex;
 justify-content: center;
 width: 314px;
 height: 77px;
 background-color: #63dc3e;
 color: #731ab7;
font-weight: bold;
}

#botaoCalcular{
    
    font-size: 39px;
    align-self: center;

}

h6{
    padding-left: 4px;
    font-weight: normal;
}

h4{
    text-align: center;
}

.botoes{
    display: flex;
    justify-content: center;
}

.resultado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.caixa{
    width: 70px;
    height: 70px;
    border: 1px solid #000;
}

.acom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}